<main id="swap">
  <div class="container">
    <div class="row row-styled">
      <div class="token-group">
        <div class="input-group">
          <button data-toggle="tokens_modal">
            <div class="image">
              <img
                class="icon"
                src="../../../../../jewbot-2.1.0-beta/images/BNB.png"
                alt="bnb-coin"
              />
            </div>
            <div class="symbol">
              <span>From</span>
              <span>BNB</span>
            </div>
          </button>
        </div>
        <div class="input-group has-animated-addon">
          <input type="text" class="form-control" placeholder="0.00" />
          <div class="addon">
            <span class="currency">$</span>
            <span class="quantity">0.00</span>
          </div>
        </div>
      </div>
      <div class="token-group">
        <div class="input-group">
          <button data-toggle="modal_token_select" id="select_token">
            <div class="image">
              <svg class="icon">
                <use xlink:href="#icon_question_one">
                  <svg id="icon_question_one" viewBox="0 0 16 16">
                    <rect
                      fill="#333333"
                      width="16"
                      height="16"
                      rx="100%"
                    ></rect>
                    <path
                      fill="#666666"
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    ></path>
                    <path
                      fill="#666666"
                      d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                    ></path>
                  </svg>
                </use>
              </svg>
              <img class="icon hidden" src="images/HYPR.png" alt="" />
            </div>
            <div class="symbol">
              <span>From</span>
              <span>TOKEN</span>
            </div>
          </button>
        </div>
        <div class="input-group has-animated-addon">
          <input type="text" class="form-control" placeholder="0.00" />
          <div class="addon">
            <span class="currency">$</span>
            <span class="quantity">0.00</span>
          </div>
        </div>
      </div>
      <div class="buttons-group">
        <div class="icon-buttons">
          <button
            (click)="openSettingsModal()"
            class="btn btn-icon"
            data-toggle="modal_transactions_settings"
          >
            <svg class="icon">
              <use xlink:href="#icon_sliders">
                <svg id="icon_sliders" viewBox="0 0 16 16">
                  <path
                    fill-rule="evenodd"
                    d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
          <button class="btn btn-icon" data-toggle="modal_transactions_active">
            <svg class="icon">
              <use xlink:href="#icon_bullseye">
                <svg id="#icon_bullseye" viewBox="0 0 16 16">
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                  ></path>
                  <path
                    d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"
                  ></path>
                  <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                </svg>
              </use>
            </svg>
          </button>
          <button
            class="btn btn-icon"
            data-toggle="modal_transactions_completed"
          >
            <svg class="icon">
              <use xlink:href="#icon_clock_history">
                <svg id="#icon_clock_history" viewBox="0 0 16 16">
                  <path
                    d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"
                  ></path>
                  <path
                    d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"
                  ></path>
                  <path
                    d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
        </div>
        <button id="connect_wallet_main" class="btn text-bold text-white">
          CONNECT WALLET
        </button>
      </div>
    </div>
    <div class="row row-styled">
      <div id="terminal">
        <div>
          <span>[13:37:00]</span>
          Welcome to Jewbot!
        </div>
        <div>
          <span>[13:37:01]</span>
          Please connect your wallet...
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showmodal" id="modal_token_select" class="modal">
    <div class="backdrop" data-toggle="modal_transactions_settings"></div>
    <div class="container">
      <div class="header">
        <div class="title">Transaction Settings</div>
        <button
          (click)="closeSettingsModal()"
          class="btn-close"
          data-toggle="modal_transactions_settings"
        >
          <svg class="icon">
            <use xlink:href="#icon_x_circle">
              <svg id="icon_x_circle" viewBox="0 0 16 16">
                <rect fill="#191919" width="16" height="16" rx="100%"></rect>
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                ></path>
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                ></path>
              </svg>
            </use>
          </svg>
        </button>
      </div>
      <div class="body">
        <div class="label has-btn-help">
          Slipagge tolerance
          <button class="btn-help" data-toggle="modal_help">
            <svg class="icon">
              <use xlink:href="#icon_question_two">
                <svg id="icon_question_two" viewBox="0 0 16 16">
                  <rect fill="#191919" width="16" height="16" rx="100%"></rect>
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
        </div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">%</div>
          </div>
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">%</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Auto</button>
          </div>
        </div>
        <div class="label">Gas and limit</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">GWei</div>
          </div>
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">MWei</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Auto</button>
          </div>
        </div>
        <div class="label">Buy At</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">$</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Market Price</button>
          </div>
        </div>
        <div class="label">Sell at</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">$</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Market Price</button>
          </div>
        </div>
        <div class="label">Targets</div>
        <div class="input-group">
          <button id="add_target" class="btn">Add Target</button>
        </div>
        <div class="label">Stop loss</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">X</div>
          </div>
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">%</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle btn-toggle-binary">OFF</button>
          </div>
        </div>
        <div class="label has-btn-help">
          Trailing stop loss
          <button class="btn-help" data-toggle="modal_help">
            <svg class="icon">
              <use xlink:href="#icon_question_two">
                <svg id="icon_question_two" viewBox="0 0 16 16">
                  <rect fill="#191919" width="16" height="16" rx="100%"></rect>
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
        </div>
        <div class="input-group">
          <button class="btn btn-toggle btn-toggle-binary">OFF</button>
        </div>
        <div class="label has-btn-help">
          Skip receipts
          <button class="btn-help" data-toggle="modal_help">
            <svg class="icon">
              <use xlink:href="#icon_question_two">
                <svg id="icon_question_two" viewBox="0 0 16 16">
                  <rect fill="#191919" width="16" height="16" rx="100%"></rect>
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
        </div>
        <div class="input-group">
          <button class="btn btn-toggle btn-toggle-binary">OFF</button>
        </div>
        <div class="label">Moon bag</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">$</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Market Price</button>
          </div>
        </div>
        <div class="label">Timeout</div>
        <div class="multiple-input-groups">
          <div class="input-group has-addon">
            <input type="text" class="form-control" placeholder="0" />
            <div class="addon">$</div>
          </div>
          <div class="input-group">
            <button class="btn btn-toggle">Market Price</button>
          </div>
        </div>
        <div class="label has-btn-help">
          Transfer limit
          <button class="btn-help" data-toggle="modal_help">
            <svg class="icon">
              <use xlink:href="#icon_question_two">
                <svg id="icon_question_two" viewBox="0 0 16 16">
                  <rect fill="#191919" width="16" height="16" rx="100%"></rect>
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  ></path>
                  <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                  ></path>
                </svg>
              </use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
