<div id="swap">
  <div class="container">
    <div class="row row-styled">
      <div class="token-group">
        <div class="input-group">
          <button data-toggle="tokens_modal">
            <div class="image">
              <img class="icon" src="images/BNB.png" alt="bnb-coin" />
            </div>
            <div class="symbol">
              <span>From</span>
              <span>BNB</span>
            </div>
          </button>
        </div>
        <div class="input-group has-animated-addon">
          <input type="text" class="form-control" placeholder="0.00" />
          <div class="addon">
            <span class="currency">$</span>
            <span class="quantity">0.00</span>
          </div>
        </div>
      </div>
      <div class="token-group">
        <div class="input-group">
          <button data-toggle="modal_token_select" id="select_token">
            <div class="image">
              <svg class="icon"></svg>
              <img class="icon hidden" src="images/HYPR.png" alt="" />
            </div>
            <div class="symbol">
              <span>From</span>
              <span>TOKEN</span>
            </div>
          </button>
        </div>
        <div class="input-group has-animated-addon">
          <input type="text" class="form-control" placeholder="0.00" />
          <div class="addon">
            <span class="currency">$</span>
            <span class="quantity">0.00</span>
          </div>
        </div>
      </div>
      <div class="buttons-group">
        <div class="icon-buttons">
          <div class="btn btn-icon" data-toggle="modal_transactions_settings">
            <svg class="icon"></svg>
          </div>
          <div class="btn btn-icon" data-toggle="modal_transactions_active">
            <svg class="icon"></svg>
          </div>
          <div class="btn btn-icon" data-toggle="modal_transactions_completed">
            <svg class="icon"></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-styled">
      <div id="terminal">
        <div>
          <span>[13:37:00]</span>
          "Welcome to Jewbot!"
        </div>
        <div>
          <span>[13:37:01]</span>
          " Please connect your wallet..."
        </div>
      </div>
    </div>
  </div>
</div>
