<div class="container">
  <div class="row">
    <div class="col">
      <button id="view_swap" class="btn text-bold active">SWAP</button>
    </div>
    <div class="col">
      <button id="view_scan" class="btn text-bold">SCAN</button>
    </div>
    <div class="col">
      <button id="view_shop" class="btn text-bold">SHOP</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="connect_wallet_header" class="btn text-bold text-white">
        CONNECT WALLET
      </button>
    </div>
    <button id="disconnect_wallet_header" class="btn hidden">
      <span class="text-bold text-white">DISCONNECT</span>
      <span>0x1337…</span>
    </button>
    <div class="col">
      <!-- <button id="toggle_menu" class="btn btn-icon" data-toggle="modal_menu">
        <img class="icon" src="" alt="">
      </button> -->
    </div>
  </div>
</div>
